#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  padding: 1rem;
  align-items: center;
  display: flex;
}

.App h1 {
  margin-bottom: 2rem;
}

.App__Shelf {
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.App__Item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 300ms ease;
  padding: 1rem;
  min-width: 0;
}
.App__Item.--editOptions {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.App__Item li {
  display: flex;
  justify-content: space-between;
}
.App__Item li p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.App__Item.--empty {
  align-items: center;
  justify-content: center;
}

.App__Item:hover {
  cursor: pointer;
}
.App__Item:hover,
.App__Item:focus {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.App__AddItem {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
}

.App__AddItem input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.Modal {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  margin: -1rem;
}

.Modal__Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}
.Modal__Close {
  align-self: flex-start;
}
.Modal__Close:hover {
  cursor: pointer;
}

.Modal__inner {
  background: white;
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 25rem;
  overflow-y: auto;
}

.App__ConfirmDelete {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.App__ConfirmDelete p {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.App__ConfirmDelete__Confirm {
  background-color: red;
}

.Error {
  position: absolute;
  z-index: 11;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1rem;
}

.Error span {
  background-color: red;
  color: white;
  border-radius: 2px;
  padding: 1rem;
}

.App__Pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App__Pagination > span {
  width: 100%;
}

.App__Pagination > button {
  width: 30%;
}

.App__left {
  width: 15rem;
}
