* {
  box-sizing: border-box;
  line-height: 1.5em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  height: 100vh;
  width: 100vw;
}
body,
#root,
.App {
  height: 100%;
  width: 100%;
  display: flex;
}

.App {
  padding: 1rem;
}

.App__Shelf {
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.App__Item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  transition: box-shadow 300ms ease;
  padding: 1rem;
  justify-content: center;
}
.App__Item li {
  display: flex;
  justify-content: space-between;
}
.App__Item .--brand::before {
  content: "Brand: ";
}
.App__Item .--style::before {
  content: "Style: ";
}
.App__Item .--size::before {
  content: "Size: ";
}
.App__Item .--upcId::before {
  content: "UPC ID: ";
}
.App__Item.--empty {
  align-items: center;
}

.App__Item:hover {
  cursor: pointer;
}
.App__Item:hover,
.App__Item:focus {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.App__Item.--empty::after {
  content: "Click to add";
  display: block;
}

.App__AddItem {
  width: 400px;
  height: 600px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.App__AddItem input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 4px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Modal {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  margin: -1rem;
}

.Modal__Close {
  position: ;
}
